<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milisong.scm.orderset.mapper.DistributionOrdersetMapper">
  <resultMap id="BaseResultMap" type="com.milisong.scm.orderset.domain.DistributionOrderset">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="distribution_no" jdbcType="VARCHAR" property="distributionNo" />
    <result column="distribution_description" jdbcType="VARCHAR" property="distributionDescription" />
    <result column="delivery_date" jdbcType="DATE" property="deliveryDate" />
    <result column="building_id" jdbcType="BIGINT" property="buildingId" />
    <result column="building_abbreviation" jdbcType="VARCHAR" property="buildingAbbreviation" />
    <result column="delivery_floor" jdbcType="VARCHAR" property="deliveryFloor" />
    <result column="company_abbreviation" jdbcType="VARCHAR" property="companyAbbreviation" />
    <result column="detail_set_no" jdbcType="VARCHAR" property="detailSetNo" />
    <result column="detail_set_no_description" jdbcType="VARCHAR" property="detailSetNoDescription" />
    <result column="goods_sum" jdbcType="INTEGER" property="goodsSum" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, distribution_no, distribution_description, delivery_date, building_id, building_abbreviation, 
    delivery_floor, company_abbreviation, detail_set_no, detail_set_no_description, goods_sum, 
    is_deleted, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.milisong.scm.orderset.domain.DistributionOrdersetExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_distribution_orderset
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_distribution_orderset
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_distribution_orderset
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.milisong.scm.orderset.domain.DistributionOrdersetExample">
    delete from t_distribution_orderset
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.milisong.scm.orderset.domain.DistributionOrderset">
    insert into t_distribution_orderset (id, distribution_no, distribution_description, 
      delivery_date, building_id, building_abbreviation, 
      delivery_floor, company_abbreviation, detail_set_no, 
      detail_set_no_description, goods_sum, is_deleted, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{distributionNo,jdbcType=VARCHAR}, #{distributionDescription,jdbcType=VARCHAR}, 
      #{deliveryDate,jdbcType=DATE}, #{buildingId,jdbcType=BIGINT}, #{buildingAbbreviation,jdbcType=VARCHAR}, 
      #{deliveryFloor,jdbcType=VARCHAR}, #{companyAbbreviation,jdbcType=VARCHAR}, #{detailSetNo,jdbcType=VARCHAR}, 
      #{detailSetNoDescription,jdbcType=VARCHAR}, #{goodsSum,jdbcType=INTEGER}, #{isDeleted,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.milisong.scm.orderset.domain.DistributionOrderset">
    insert into t_distribution_orderset
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="distributionNo != null">
        distribution_no,
      </if>
      <if test="distributionDescription != null">
        distribution_description,
      </if>
      <if test="deliveryDate != null">
        delivery_date,
      </if>
      <if test="buildingId != null">
        building_id,
      </if>
      <if test="buildingAbbreviation != null">
        building_abbreviation,
      </if>
      <if test="deliveryFloor != null">
        delivery_floor,
      </if>
      <if test="companyAbbreviation != null">
        company_abbreviation,
      </if>
      <if test="detailSetNo != null">
        detail_set_no,
      </if>
      <if test="detailSetNoDescription != null">
        detail_set_no_description,
      </if>
      <if test="goodsSum != null">
        goods_sum,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="distributionNo != null">
        #{distributionNo,jdbcType=VARCHAR},
      </if>
      <if test="distributionDescription != null">
        #{distributionDescription,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null">
        #{deliveryDate,jdbcType=DATE},
      </if>
      <if test="buildingId != null">
        #{buildingId,jdbcType=BIGINT},
      </if>
      <if test="buildingAbbreviation != null">
        #{buildingAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="deliveryFloor != null">
        #{deliveryFloor,jdbcType=VARCHAR},
      </if>
      <if test="companyAbbreviation != null">
        #{companyAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="detailSetNo != null">
        #{detailSetNo,jdbcType=VARCHAR},
      </if>
      <if test="detailSetNoDescription != null">
        #{detailSetNoDescription,jdbcType=VARCHAR},
      </if>
      <if test="goodsSum != null">
        #{goodsSum,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.milisong.scm.orderset.domain.DistributionOrdersetExample" resultType="java.lang.Long">
    select count(*) from t_distribution_orderset
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_distribution_orderset
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.distributionNo != null">
        distribution_no = #{record.distributionNo,jdbcType=VARCHAR},
      </if>
      <if test="record.distributionDescription != null">
        distribution_description = #{record.distributionDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryDate != null">
        delivery_date = #{record.deliveryDate,jdbcType=DATE},
      </if>
      <if test="record.buildingId != null">
        building_id = #{record.buildingId,jdbcType=BIGINT},
      </if>
      <if test="record.buildingAbbreviation != null">
        building_abbreviation = #{record.buildingAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryFloor != null">
        delivery_floor = #{record.deliveryFloor,jdbcType=VARCHAR},
      </if>
      <if test="record.companyAbbreviation != null">
        company_abbreviation = #{record.companyAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="record.detailSetNo != null">
        detail_set_no = #{record.detailSetNo,jdbcType=VARCHAR},
      </if>
      <if test="record.detailSetNoDescription != null">
        detail_set_no_description = #{record.detailSetNoDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsSum != null">
        goods_sum = #{record.goodsSum,jdbcType=INTEGER},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_distribution_orderset
    set id = #{record.id,jdbcType=BIGINT},
      distribution_no = #{record.distributionNo,jdbcType=VARCHAR},
      distribution_description = #{record.distributionDescription,jdbcType=VARCHAR},
      delivery_date = #{record.deliveryDate,jdbcType=DATE},
      building_id = #{record.buildingId,jdbcType=BIGINT},
      building_abbreviation = #{record.buildingAbbreviation,jdbcType=VARCHAR},
      delivery_floor = #{record.deliveryFloor,jdbcType=VARCHAR},
      company_abbreviation = #{record.companyAbbreviation,jdbcType=VARCHAR},
      detail_set_no = #{record.detailSetNo,jdbcType=VARCHAR},
      detail_set_no_description = #{record.detailSetNoDescription,jdbcType=VARCHAR},
      goods_sum = #{record.goodsSum,jdbcType=INTEGER},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.milisong.scm.orderset.domain.DistributionOrderset">
    update t_distribution_orderset
    <set>
      <if test="distributionNo != null">
        distribution_no = #{distributionNo,jdbcType=VARCHAR},
      </if>
      <if test="distributionDescription != null">
        distribution_description = #{distributionDescription,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDate != null">
        delivery_date = #{deliveryDate,jdbcType=DATE},
      </if>
      <if test="buildingId != null">
        building_id = #{buildingId,jdbcType=BIGINT},
      </if>
      <if test="buildingAbbreviation != null">
        building_abbreviation = #{buildingAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="deliveryFloor != null">
        delivery_floor = #{deliveryFloor,jdbcType=VARCHAR},
      </if>
      <if test="companyAbbreviation != null">
        company_abbreviation = #{companyAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="detailSetNo != null">
        detail_set_no = #{detailSetNo,jdbcType=VARCHAR},
      </if>
      <if test="detailSetNoDescription != null">
        detail_set_no_description = #{detailSetNoDescription,jdbcType=VARCHAR},
      </if>
      <if test="goodsSum != null">
        goods_sum = #{goodsSum,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.milisong.scm.orderset.domain.DistributionOrderset">
    update t_distribution_orderset
    set distribution_no = #{distributionNo,jdbcType=VARCHAR},
      distribution_description = #{distributionDescription,jdbcType=VARCHAR},
      delivery_date = #{deliveryDate,jdbcType=DATE},
      building_id = #{buildingId,jdbcType=BIGINT},
      building_abbreviation = #{buildingAbbreviation,jdbcType=VARCHAR},
      delivery_floor = #{deliveryFloor,jdbcType=VARCHAR},
      company_abbreviation = #{companyAbbreviation,jdbcType=VARCHAR},
      detail_set_no = #{detailSetNo,jdbcType=VARCHAR},
      detail_set_no_description = #{detailSetNoDescription,jdbcType=VARCHAR},
      goods_sum = #{goodsSum,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>