<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milisong.breakfast.scm.goods.mapper.GoodsCategoryMapper">
  <resultMap id="BaseResultMap" type="com.milisong.breakfast.scm.goods.domain.GoodsCategory">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="weight" jdbcType="TINYINT" property="weight" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `id`, `code`, `name`, `picture`, `describe`, `weight`, `pid`, `status`, `type`, `is_deleted`, 
    `create_by`, `create_time`, `update_by`, `update_time`
  </sql>
  <select id="selectByExample" parameterType="com.milisong.breakfast.scm.goods.domain.GoodsCategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from `goods_category`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="startRow != null">
   		limit #{startRow}, #{pageSize}
   	</if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `goods_category`
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `goods_category`
    where `id` = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.milisong.breakfast.scm.goods.domain.GoodsCategoryExample">
    delete from `goods_category`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.milisong.breakfast.scm.goods.domain.GoodsCategory">
    insert into `goods_category` (`id`, `code`, `name`, 
      `picture`, `describe`, `weight`, 
      `pid`, `status`, `type`, `is_deleted`, 
      `create_by`, `create_time`, `update_by`, 
      `update_time`)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{picture,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, #{weight,jdbcType=TINYINT}, 
      #{pid,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{isDeleted,jdbcType=BIT}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.milisong.breakfast.scm.goods.domain.GoodsCategory">
    insert into `goods_category`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        `id`,
      </if>
      <if test="code != null">
        `code`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="picture != null">
        `picture`,
      </if>
      <if test="describe != null">
        `describe`,
      </if>
      <if test="weight != null">
        `weight`,
      </if>
      <if test="pid != null">
        `pid`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="isDeleted != null">
        `is_deleted`,
      </if>
      <if test="createBy != null">
        `create_by`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
      <if test="updateBy != null">
        `update_by`,
      </if>
      <if test="updateTime != null">
        `update_time`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=TINYINT},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into `goods_category` (`id`, `code`, `name`, 
      `picture`, `describe`, `weight`, 
      `pid`, `status`, `type`, 
      `is_deleted`, `create_by`, `create_time`, 
      `update_by`, `update_time`)
    values 
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.code,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, 
        #{item.picture,jdbcType=VARCHAR}, #{item.describe,jdbcType=VARCHAR}, #{item.weight,jdbcType=TINYINT}, 
        #{item.pid,jdbcType=BIGINT}, #{item.status,jdbcType=TINYINT}, #{item.type,jdbcType=TINYINT}, 
        #{item.isDeleted,jdbcType=BIT}, #{item.createBy,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateBy,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into `goods_category`
    (`id`, `code`, `name`, `picture`, `describe`, `weight`, `pid`, `status`, `type`, 
      `is_deleted`, `create_by`, `create_time`, `update_by`, `update_time`)
    values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="item.id != null">
          #{item.id,jdbcType=BIGINT},
        </if>
        <if test="item.id == null">
          NULL,
        </if>
        <if test="item.code != null">
          #{item.code,jdbcType=VARCHAR},
        </if>
        <if test="item.code == null">
          NULL,
        </if>
        <if test="item.name != null">
          #{item.name,jdbcType=VARCHAR},
        </if>
        <if test="item.name == null">
          NULL,
        </if>
        <if test="item.picture != null">
          #{item.picture,jdbcType=VARCHAR},
        </if>
        <if test="item.picture == null">
          NULL,
        </if>
        <if test="item.describe != null">
          #{item.describe,jdbcType=VARCHAR},
        </if>
        <if test="item.describe == null">
          NULL,
        </if>
        <if test="item.weight != null">
          #{item.weight,jdbcType=TINYINT},
        </if>
        <if test="item.weight == null">
          NULL,
        </if>
        <if test="item.pid != null">
          #{item.pid,jdbcType=BIGINT},
        </if>
        <if test="item.pid == null">
          NULL,
        </if>
        <if test="item.status != null">
          #{item.status,jdbcType=TINYINT},
        </if>
        <if test="item.status == null">
          NULL,
        </if>
        <if test="item.type != null">
          #{item.type,jdbcType=TINYINT},
        </if>
        <if test="item.type == null">
          NULL,
        </if>
        <if test="item.isDeleted != null">
          #{item.isDeleted,jdbcType=BIT},
        </if>
        <if test="item.isDeleted == null">
          NULL,
        </if>
        <if test="item.createBy != null">
          #{item.createBy,jdbcType=VARCHAR},
        </if>
        <if test="item.createBy == null">
          NULL,
        </if>
        <if test="item.createTime != null">
          #{item.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.createTime == null">
          NULL,
        </if>
        <if test="item.updateBy != null">
          #{item.updateBy,jdbcType=VARCHAR},
        </if>
        <if test="item.updateBy == null">
          NULL,
        </if>
        <if test="item.updateTime != null">
          #{item.updateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.updateTime == null">
          NULL,
        </if>
      </trim>
    </foreach>
  </insert>
  <select id="countByExample" parameterType="com.milisong.breakfast.scm.goods.domain.GoodsCategoryExample" resultType="java.lang.Long">
    select count(*) from `goods_category`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `goods_category`
    <set>
      <if test="record.id != null">
        `id` = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.code != null">
        `code` = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.picture != null">
        `picture` = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.describe != null">
        `describe` = #{record.describe,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null">
        `weight` = #{record.weight,jdbcType=TINYINT},
      </if>
      <if test="record.pid != null">
        `pid` = #{record.pid,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.isDeleted != null">
        `is_deleted` = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.createBy != null">
        `create_by` = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        `create_time` = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        `update_by` = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        `update_time` = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `goods_category`
    set `id` = #{record.id,jdbcType=BIGINT},
      `code` = #{record.code,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      `picture` = #{record.picture,jdbcType=VARCHAR},
      `describe` = #{record.describe,jdbcType=VARCHAR},
      `weight` = #{record.weight,jdbcType=TINYINT},
      `pid` = #{record.pid,jdbcType=BIGINT},
      `status` = #{record.status,jdbcType=TINYINT},
      `type` = #{record.type,jdbcType=TINYINT},
      `is_deleted` = #{record.isDeleted,jdbcType=BIT},
      `create_by` = #{record.createBy,jdbcType=VARCHAR},
      `create_time` = #{record.createTime,jdbcType=TIMESTAMP},
      `update_by` = #{record.updateBy,jdbcType=VARCHAR},
      `update_time` = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.milisong.breakfast.scm.goods.domain.GoodsCategory">
    update `goods_category`
    <set>
      <if test="code != null">
        `code` = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        `picture` = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        `describe` = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        `weight` = #{weight,jdbcType=TINYINT},
      </if>
      <if test="pid != null">
        `pid` = #{pid,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        `is_deleted` = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        `create_by` = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        `update_by` = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        `update_time` = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.milisong.breakfast.scm.goods.domain.GoodsCategory">
    update `goods_category`
    set `code` = #{code,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      `picture` = #{picture,jdbcType=VARCHAR},
      `describe` = #{describe,jdbcType=VARCHAR},
      `weight` = #{weight,jdbcType=TINYINT},
      `pid` = #{pid,jdbcType=BIGINT},
      `status` = #{status,jdbcType=TINYINT},
      `type` = #{type,jdbcType=TINYINT},
      `is_deleted` = #{isDeleted,jdbcType=BIT},
      `create_by` = #{createBy,jdbcType=VARCHAR},
      `create_time` = #{createTime,jdbcType=TIMESTAMP},
      `update_by` = #{updateBy,jdbcType=VARCHAR},
      `update_time` = #{updateTime,jdbcType=TIMESTAMP}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatchByPrimaryKey" parameterType="java.util.List">
    update `goods_category`
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="code =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.code}
        </foreach>
      </trim>
      <trim prefix="name =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.name}
        </foreach>
      </trim>
      <trim prefix="picture =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.picture}
        </foreach>
      </trim>
      <trim prefix="describe =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.describe}
        </foreach>
      </trim>
      <trim prefix="weight =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.weight}
        </foreach>
      </trim>
      <trim prefix="pid =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.pid}
        </foreach>
      </trim>
      <trim prefix="status =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.status}
        </foreach>
      </trim>
      <trim prefix="type =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.type}
        </foreach>
      </trim>
      <trim prefix="isDeleted =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.isDeleted}
        </foreach>
      </trim>
      <trim prefix="createBy =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.createBy}
        </foreach>
      </trim>
      <trim prefix="createTime =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.createTime}
        </foreach>
      </trim>
      <trim prefix="updateBy =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.updateBy}
        </foreach>
      </trim>
      <trim prefix="updateTime =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.updateTime}
        </foreach>
      </trim>
    </trim>
    where `id` in 
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
       #{item.id} 
    </foreach>
  </update>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    update `goods_category`
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="code =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.code != null ">
            when  #{item.id} then #{item.code}
          </if>
          <if test="item.code == null ">
            when  #{item.id} then `goods_category`.`code`
          </if>
        </foreach>
      </trim>
      <trim prefix="name =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.name != null ">
            when  #{item.id} then #{item.name}
          </if>
          <if test="item.name == null ">
            when  #{item.id} then `goods_category`.`name`
          </if>
        </foreach>
      </trim>
      <trim prefix="picture =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.picture != null ">
            when  #{item.id} then #{item.picture}
          </if>
          <if test="item.picture == null ">
            when  #{item.id} then `goods_category`.`picture`
          </if>
        </foreach>
      </trim>
      <trim prefix="describe =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.describe != null ">
            when  #{item.id} then #{item.describe}
          </if>
          <if test="item.describe == null ">
            when  #{item.id} then `goods_category`.`describe`
          </if>
        </foreach>
      </trim>
      <trim prefix="weight =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.weight != null ">
            when  #{item.id} then #{item.weight}
          </if>
          <if test="item.weight == null ">
            when  #{item.id} then `goods_category`.`weight`
          </if>
        </foreach>
      </trim>
      <trim prefix="pid =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.pid != null ">
            when  #{item.id} then #{item.pid}
          </if>
          <if test="item.pid == null ">
            when  #{item.id} then `goods_category`.`pid`
          </if>
        </foreach>
      </trim>
      <trim prefix="status =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.status != null ">
            when  #{item.id} then #{item.status}
          </if>
          <if test="item.status == null ">
            when  #{item.id} then `goods_category`.`status`
          </if>
        </foreach>
      </trim>
      <trim prefix="type =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.type != null ">
            when  #{item.id} then #{item.type}
          </if>
          <if test="item.type == null ">
            when  #{item.id} then `goods_category`.`type`
          </if>
        </foreach>
      </trim>
      <trim prefix="isDeleted =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.isDeleted != null ">
            when  #{item.id} then #{item.isDeleted}
          </if>
          <if test="item.isDeleted == null ">
            when  #{item.id} then `goods_category`.`is_deleted`
          </if>
        </foreach>
      </trim>
      <trim prefix="createBy =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.createBy != null ">
            when  #{item.id} then #{item.createBy}
          </if>
          <if test="item.createBy == null ">
            when  #{item.id} then `goods_category`.`create_by`
          </if>
        </foreach>
      </trim>
      <trim prefix="createTime =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.createTime != null ">
            when  #{item.id} then #{item.createTime}
          </if>
          <if test="item.createTime == null ">
            when  #{item.id} then `goods_category`.`create_time`
          </if>
        </foreach>
      </trim>
      <trim prefix="updateBy =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.updateBy != null ">
            when  #{item.id} then #{item.updateBy}
          </if>
          <if test="item.updateBy == null ">
            when  #{item.id} then `goods_category`.`update_by`
          </if>
        </foreach>
      </trim>
      <trim prefix="updateTime =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.updateTime != null ">
            when  #{item.id} then #{item.updateTime}
          </if>
          <if test="item.updateTime == null ">
            when  #{item.id} then `goods_category`.`update_time`
          </if>
        </foreach>
      </trim>
    </trim>
    where `id` in 
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
       #{item.id} 
    </foreach>
  </update>
  <update id="updateBatchByExample" parameterType="map">
    update `goods_category`
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="code =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.code}
        </foreach>
      </trim>
      <trim prefix="name =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.name}
        </foreach>
      </trim>
      <trim prefix="picture =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.picture}
        </foreach>
      </trim>
      <trim prefix="describe =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.describe}
        </foreach>
      </trim>
      <trim prefix="weight =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.weight}
        </foreach>
      </trim>
      <trim prefix="pid =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.pid}
        </foreach>
      </trim>
      <trim prefix="status =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.status}
        </foreach>
      </trim>
      <trim prefix="type =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.type}
        </foreach>
      </trim>
      <trim prefix="isDeleted =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.isDeleted}
        </foreach>
      </trim>
      <trim prefix="createBy =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.createBy}
        </foreach>
      </trim>
      <trim prefix="createTime =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.createTime}
        </foreach>
      </trim>
      <trim prefix="updateBy =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.updateBy}
        </foreach>
      </trim>
      <trim prefix="updateTime =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          when  #{item.id} then #{item.updateTime}
        </foreach>
      </trim>
    </trim>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateBatchByExampleSelective" parameterType="map">
    update `goods_category`
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="code =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.code != null ">
            when  #{item.id} then #{item.code}
          </if>
          <if test="item.code == null ">
            when  #{item.id} then `goods_category`.`code`
          </if>
        </foreach>
      </trim>
      <trim prefix="name =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.name != null ">
            when  #{item.id} then #{item.name}
          </if>
          <if test="item.name == null ">
            when  #{item.id} then `goods_category`.`name`
          </if>
        </foreach>
      </trim>
      <trim prefix="picture =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.picture != null ">
            when  #{item.id} then #{item.picture}
          </if>
          <if test="item.picture == null ">
            when  #{item.id} then `goods_category`.`picture`
          </if>
        </foreach>
      </trim>
      <trim prefix="describe =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.describe != null ">
            when  #{item.id} then #{item.describe}
          </if>
          <if test="item.describe == null ">
            when  #{item.id} then `goods_category`.`describe`
          </if>
        </foreach>
      </trim>
      <trim prefix="weight =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.weight != null ">
            when  #{item.id} then #{item.weight}
          </if>
          <if test="item.weight == null ">
            when  #{item.id} then `goods_category`.`weight`
          </if>
        </foreach>
      </trim>
      <trim prefix="pid =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.pid != null ">
            when  #{item.id} then #{item.pid}
          </if>
          <if test="item.pid == null ">
            when  #{item.id} then `goods_category`.`pid`
          </if>
        </foreach>
      </trim>
      <trim prefix="status =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.status != null ">
            when  #{item.id} then #{item.status}
          </if>
          <if test="item.status == null ">
            when  #{item.id} then `goods_category`.`status`
          </if>
        </foreach>
      </trim>
      <trim prefix="type =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.type != null ">
            when  #{item.id} then #{item.type}
          </if>
          <if test="item.type == null ">
            when  #{item.id} then `goods_category`.`type`
          </if>
        </foreach>
      </trim>
      <trim prefix="isDeleted =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.isDeleted != null ">
            when  #{item.id} then #{item.isDeleted}
          </if>
          <if test="item.isDeleted == null ">
            when  #{item.id} then `goods_category`.`is_deleted`
          </if>
        </foreach>
      </trim>
      <trim prefix="createBy =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.createBy != null ">
            when  #{item.id} then #{item.createBy}
          </if>
          <if test="item.createBy == null ">
            when  #{item.id} then `goods_category`.`create_by`
          </if>
        </foreach>
      </trim>
      <trim prefix="createTime =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.createTime != null ">
            when  #{item.id} then #{item.createTime}
          </if>
          <if test="item.createTime == null ">
            when  #{item.id} then `goods_category`.`create_time`
          </if>
        </foreach>
      </trim>
      <trim prefix="updateBy =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.updateBy != null ">
            when  #{item.id} then #{item.updateBy}
          </if>
          <if test="item.updateBy == null ">
            when  #{item.id} then `goods_category`.`update_by`
          </if>
        </foreach>
      </trim>
      <trim prefix="updateTime =case id" suffix="end,">
        <foreach collection="recordList" index="index" item="item" separator=" ">
          <if test="item.updateTime != null ">
            when  #{item.id} then #{item.updateTime}
          </if>
          <if test="item.updateTime == null ">
            when  #{item.id} then `goods_category`.`update_time`
          </if>
        </foreach>
      </trim>
    </trim>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>