<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.milisong.breakfast.scm.orderset.mapper.OrderSetDetailExtMapper">
	<select id="selectBuildingList"
		parameterType="com.milisong.breakfast.scm.orderset.domain.OrderSetDetail"
		resultType="com.milisong.breakfast.scm.orderset.param.OrderSetBuildingSqlResult">
		select building_id,building_abbreviation from order_set_detail where
		shop_id=#{shopId} and detail_delivery_date=#{detailDeliveryDate} group
		by building_id,building_abbreviation
	</select>

	<select id="selectCountCustomerOrderBySetNo"
		parameterType="java.util.List" resultType="java.util.Map">
		select detail_set_no,count(DISTINCT couplet_no) coupletNo FROM
		order_set_detail_goods
		where detail_set_no in
		<foreach collection="list" item="item" open="(" separator=","
			close=")">
			#{item,jdbcType=VARCHAR}
		</foreach>
		GROUP BY detail_set_no
	</select>

	<select id="getCustomerOrderByOrderSetNo"
		parameterType="java.lang.String"
		resultType="com.milisong.breakfast.scm.orderset.dto.result.OrdersetInfoResult">
		select
		a.detail_set_no,a.detail_set_no_description,b.couplet_no,b.goods_name,b.goods_number
		from order_set_detail a
		LEFT JOIN order_set_detail_goods b on a.detail_set_no = b.detail_set_no
		where a.detail_set_no = #{setNo}
		order by detail_set_no asc
	</select>
</mapper>