<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milisong.oms.mapper.OrderDeliveryGoodsMapper">
    <insert id="batchSave">
        INSERT INTO order_delivery_goods(id, delivery_id, combo_goods_code, goods_code, goods_name, goods_img_url,
        goods_count, goods_original_price, goods_actual_price, package_original_price, package_actual_price,
        total_amount, is_combo, type) VALUES
        <foreach collection="collection" item="v" separator=",">
            (#{v.id}, #{v.deliveryId}, #{v.comboGoodsCode}, #{v.goodsCode}, #{v.goodsName}, #{v.goodsImgUrl},
            #{v.goodsCount}, #{v.goodsOriginalPrice}, #{v.goodsActualPrice}, #{v.packageOriginalPrice},
            #{v.packageActualPrice}, #{v.totalAmount}, #{v.isCombo}, #{v.type})
        </foreach>
    </insert>


    <select id="batchFindByDeliveryIds" resultType="com.milisong.oms.domain.OrderDeliveryGoods">
        SELECT * FROM order_delivery_goods WHERE delivery_id IN
        <foreach collection="collection" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findByDeliveryId" resultType="com.milisong.oms.domain.OrderDeliveryGoods">
        SELECT *
        FROM order_delivery_goods
        WHERE delivery_id = #{deliveryId} and combo_goods_code is null
    </select>

    <select id="findAllByDeliveryId" resultType="com.milisong.oms.domain.OrderDeliveryGoods">
        SELECT *
        FROM order_delivery_goods
        WHERE delivery_id = #{deliveryId}
    </select>

    <select id="statLately29DaysSales" resultType="map">
        SELECT
        t3.goods_code AS goodsCode,
        sum(
        CASE
                t1.order_type
                WHEN 1 THEN
                t3.goods_count
                WHEN 0 THEN
            CASE
                    WHEN t1.order_date > date_add( CURRENT_DATE, INTERVAL - 29 DAY ) THEN
                    t3.goods_count ELSE 0
                END
                END
                ) AS salesCount
            FROM
                `order` t1
                JOIN order_delivery t2 ON t1.id = t2.order_id
                JOIN order_delivery_goods t3 ON t2.id = t3.delivery_id
            WHERE
                t1.STATUS IN ( 2, 9 )
                AND t2.STATUS NOT IN ( 3, 4 )
        GROUP BY
        t3.goods_code
    </select>
</mapper>