<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milisong.oms.mapper.RefundOrderMapper">
    <select id="getOrderTotalRefundAmount" resultType="bigdecimal">
        select sum(total_refund_amount)
        from refund_order
        where order_id = #{orderId}
    </select>


    <select id="getRefundOrderByOrderId" resultType="com.milisong.oms.domain.RefundOrder">
        select *
        from refund_order
        where order_id = #{orderId}
    </select>
    
    <select id="getRefundingOrder" resultType="com.milisong.oms.domain.RefundOrder">
    	select id,order_id from  `refund_order` where status =#{status}
    </select>
</mapper>