<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milisong.oms.mapper.VirtualOrderMapper">

    <select id="getVirtualOrderByStatus" resultType="com.milisong.oms.domain.VirtualOrder">
    	select id,order_date
        from `virtual_order` where status = #{status}
        AND ROUND((UNIX_TIMESTAMP(NOW())-UNIX_TIMESTAMP(order_date)))>=#{unPayExpiredTime}
    </select>
 
</mapper>