<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milisong.pms.prom.mapper.ActivityUserInviteMapper" >
  <resultMap id="BaseResultMap" type="com.milisong.pms.prom.domain.ActivityUserInvite" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="originate_user_id" property="originateUserId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="goods_json" property="goodsJson" jdbcType="VARCHAR" />
    <result column="valid_days" property="validDays" jdbcType="INTEGER" />
    <result column="max_count" property="maxCount" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, originate_user_id, type, goods_json, valid_days, max_count, start_date, 
    end_date, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bf_activity_user_invite
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.milisong.pms.prom.domain.ActivityUserInvite" >
    insert into bf_activity_user_invite (id, name, originate_user_id, 
      type, goods_json, valid_days, 
      max_count, start_date, end_date, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{originateUserId,jdbcType=BIGINT}, 
      #{type,jdbcType=TINYINT}, #{goodsJson,jdbcType=VARCHAR}, #{validDays,jdbcType=INTEGER}, 
      #{maxCount,jdbcType=INTEGER}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.milisong.pms.prom.domain.ActivityUserInvite" >
    insert into bf_activity_user_invite
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="originateUserId != null" >
        originate_user_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="goodsJson != null" >
        goods_json,
      </if>
      <if test="validDays != null" >
        valid_days,
      </if>
      <if test="maxCount != null" >
        max_count,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="originateUserId != null" >
        #{originateUserId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="goodsJson != null" >
        #{goodsJson,jdbcType=VARCHAR},
      </if>
      <if test="validDays != null" >
        #{validDays,jdbcType=INTEGER},
      </if>
      <if test="maxCount != null" >
        #{maxCount,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.milisong.pms.prom.domain.ActivityUserInvite" >
    update bf_activity_user_invite
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="originateUserId != null" >
        originate_user_id = #{originateUserId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="goodsJson != null" >
        goods_json = #{goodsJson,jdbcType=VARCHAR},
      </if>
      <if test="validDays != null" >
        valid_days = #{validDays,jdbcType=INTEGER},
      </if>
      <if test="maxCount != null" >
        max_count = #{maxCount,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.milisong.pms.prom.domain.ActivityUserInvite" >
    update bf_activity_user_invite
    set name = #{name,jdbcType=VARCHAR},
      originate_user_id = #{originateUserId,jdbcType=BIGINT},
      type = #{type,jdbcType=TINYINT},
      goods_json = #{goodsJson,jdbcType=VARCHAR},
      valid_days = #{validDays,jdbcType=INTEGER},
      max_count = #{maxCount,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!--自定义方法-->
  <select id="selectByOriginateUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bf_activity_user_invite
    where originate_user_id = #{id,jdbcType=BIGINT} and type = #{type,jdbcType=TINYINT}
    limit 0,1
  </select>
</mapper>