<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milisong.pms.prom.mapper.RedPacketMapper" >
  <resultMap id="BaseResultMap" type="com.milisong.pms.prom.domain.RedPacket" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="limit_days" property="limitDays" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="is_share" property="isShare" jdbcType="TINYINT" />
    <result column="valid_days" property="validDays" jdbcType="INTEGER" />
    <result column="business_line" property="businessLine" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type, limit_days, amount, is_share, valid_days, business_line, status, 
    remark, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from red_packet
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.milisong.pms.prom.domain.RedPacket" >
    insert into red_packet (id, name, type, 
      limit_days, amount, is_share, 
      valid_days, business_line, status, 
      remark, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{limitDays,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, #{isShare,jdbcType=TINYINT}, 
      #{validDays,jdbcType=INTEGER}, #{businessLine,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.milisong.pms.prom.domain.RedPacket" >
    insert into red_packet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="limitDays != null" >
        limit_days,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="isShare != null" >
        is_share,
      </if>
      <if test="validDays != null" >
        valid_days,
      </if>
      <if test="businessLine != null" >
        business_line,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="limitDays != null" >
        #{limitDays,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="isShare != null" >
        #{isShare,jdbcType=TINYINT},
      </if>
      <if test="validDays != null" >
        #{validDays,jdbcType=INTEGER},
      </if>
      <if test="businessLine != null" >
        #{businessLine,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.milisong.pms.prom.domain.RedPacket" >
    update red_packet
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="limitDays != null" >
        limit_days = #{limitDays,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="isShare != null" >
        is_share = #{isShare,jdbcType=TINYINT},
      </if>
      <if test="validDays != null" >
        valid_days = #{validDays,jdbcType=INTEGER},
      </if>
      <if test="businessLine != null" >
        business_line = #{businessLine,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.milisong.pms.prom.domain.RedPacket" >
    update red_packet
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      limit_days = #{limitDays,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      is_share = #{isShare,jdbcType=TINYINT},
      valid_days = #{validDays,jdbcType=INTEGER},
      business_line = #{businessLine,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="countRedpacket" resultType="int" parameterType="com.milisong.pms.prom.dto.RedPacketQueryDto">
    select count(id) from red_packet
    <where>
      <if test="name != null and name != ''">
        name like concat('%',#{name},'%')
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      and business_line = #{businessLine}
    </where>
  </select>
  <select id="queryRedpacket" resultType="com.milisong.pms.prom.dto.RedPacketDto">
    select id, name, type, limit_days, amount, valid_days, status, remark, create_time from red_packet
    <where>
      <if test="name != null and name != ''">
        name like concat('%',#{name},'%')
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      and business_line = #{businessLine}
      order by update_time desc
      limit #{startRow}, #{pageSize}
    </where>
  </select>

  <select id="queryByIds" resultType="com.milisong.pms.prom.dto.RedPacketDto">
    select
    <include refid="Base_Column_List" />
    from red_packet
    where id in
    <foreach collection="redpacketids" index="index" item="redpacketid" separator="," open="(" close=")">
      #{redpacketid}
    </foreach>
  </select>
</mapper>